@import 'variaveis';
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ececec;
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: 'Open Sans', Arial, Helvetica sans-serif;
    overflow-x: hidden;
    
    @media #{$tablet, $mobile}{
        padding-top: 27px;
    }
}

strong{
    font-weight: 600;
}

a{
    transition: all .5s cubic-bezier(0.4, 0, 0.2, 1);
    text-decoration: none;
    cursor: pointer;
    position: relative;
    color: $blue;
  
    &:hover{
        color: $blue-light;
    }
}

#modal-box{
    background-color: #fff;
    box-shadow: $shadow-containers !important;
    border: none;
    border-radius: 4px;
    
    #modal-header{
        padding: 0;
        #modal-close-button{
            padding: 2px 4px;
            color: $gray;
            font-size: 24px;
            position: absolute;
            top: 2px;
            right: 0;
            z-index: 10;
        }
    }
    #modal-content{
        
        padding: 20px;
        position: relative;
        
        .page-header{
            margin: -20px -20px 20px;
            padding: 16px 20px;
            border-bottom: 1px solid $gray-lightest;
            
            h2{
                border: none;
            }
        }
        
        .form-actions{
            margin: 0 -20px;
            padding: 40px 20px 5px;
        }
    }
    
    .sidebar-container{ 
        width: calc(100% + 40px);
        margin: -20px -20px 0 ;
    }
}

.panel, fieldset{
    padding: 10px;
}

.btn {
    background-color: $gray-lightest;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding: 8px 12px;
    font-size: 14px;
    text-transform: uppercase;
    border: none;
    border-radius: 4px;
    color: $gray-dark;
    box-shadow: $shadow-containers-up;
    transition: all .5s cubic-bezier(0.4, 0, 0.2, 1);
    
    &:hover{
        box-shadow: $shadow-containers;
    }
    
    &-blue{
        background-color: $blue;
        color: #fff;
    }
}

header{
    background: $gray-darkest;
    height: 60px;
    margin: 0;
    position: relative;
    border: none;
    
    .title-container{
        width: auto;
        max-width: 45%;
        height: 100%;
        
        h1{
            float: left;
            width: 100%;
            height: 60px;
            padding: 2px 5px;
            color: $gray-light;
            font-weight: 100;
            float: left;
            font-size: 32px;
//            text-align: center;
//            text-transform: uppercase;
            text-overflow:ellipsis;
            white-space: nowrap;
            overflow: hidden;
            position: relative;
            
            a{
                float: left;
                width: 60px;
                padding: 4px 0;
                text-decoration: none;
                color: $gray;
                opacity: 1;
                text-align: center;
                
                strong{
                    color: $red;
                }
                
                &:hover{
                    color: $gray-lightest;
                    strong{
                        color: $red-light;
                    }   
                }
            }
            .title{
                padding: 14px 4px;
                height: 100%;
                font-size: 16px;
            }
            .tooltip{
                color: $gray;
                position: absolute;
                right: -30px;
                top: 50%;
                transform: translateY(-50%);
                opacity: 1;
                cursor: help;
                
                i{
                    font-weight: 900;
                }
            }
            
        }
    }
    
    .board-selector-container{
        float: right;
        padding: 16px 10px;
    }
    
    .menus-container{
        width: 280px;
        height: 60px;
        position: absolute;
        right: 20px;
        top: 0;
        
        .notification, 
        .header-creation-menu{
            float: left;
            width: 40px;
            height: 100%;
            margin: 0;
            padding: 20px 8px;
            text-align: center;
            
            i{
                font-size: 18px;
                font-weight: 900;
                color: #fff;
            }
        }
        .user-dropdown{
            float: right;
//            width: 190px;
            height: 100%;
//            position: absolute;
//            top: 0;
//            right: 0;
            
            > a{
                display: block;
                height: 100%;
                padding: 12px 10px;
                position: relative;
            }
            
            .username{
                    width: 130px;
                    float: left;
                    padding: 4px;
                    color: #fff;
                    font-size: 16px;
                    text-align: left;
                    text-overflow:ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                }
            .avatar{
                float: left;
                .avatar-letter, img{
                    width: 32px;
                    height: 32px;
                    border-radius: 16px;
                    font-size: 20px;
                    line-height: 30px;
                }
            }
            i{
                color: #fff;
                font-size: 24px;
                position: absolute;
                top: 50%;
                right: 0;
                transform: translateY(-50%);
            }
        }
    }
    
    @media #{$tablet, $mobile}{
        
        background-color: $gray-darkest;
        width: 100%;
        height: auto;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 90;
        
        .title-container,
        .board-selector-container,
        .menus-container{order:0;}
        
        .title-container{
            width: 100px;
            
            h1{
                padding: 8px 30px;
                font-size: 24px;
                text-align: left;
                overflow: inherit;
                
                a{
                    color: $gray;
                }
                
                .tooltip{
                    display: none;
                }
                
                .title{
                    width: 100%;
                    height: 32px;
                    background-color: $gray-darkest;
                    padding: 4px 10px;
                    font-size: 12px;
                    position: fixed;
                    left: 0;
                    top: 60px;
                }
            }
        }
        .board-selector-container{
            display: none;
        }
        .menus-container{
            width: 155px;
            right: 16px;
            
            i{
                color: #fff;
            }
            .notification, 
            .header-creation-menu{
                display: block;
                height: 60px;
            }
            .user-dropdown{
                width: 60px;
                height: 60px;
                
                .username{
                    display: none;
                }
            }
        }
    }
}

#login-top{
    padding: 0 85px;
    img{
        width: 180px;
        height: auto;
        margin: 0 auto;
    }
}

#menu-switch{
    display: none;
    float: left;
    width: 40px;
    height: 60px;
    padding: 16px 0;
    color: #fff;
    text-align: center;
    font-size: 20px;
    position: fixed;
    left: 0;
    z-index: 10;
    
    @media #{$tablet, $mobile}{
        display: block;
    }
}

#select-dropdown-menu{
    border-radius: 2px;
    border: none;
    padding: 0;
    overflow: hidden;
    li{
        padding: 5px 10px;
    }
}

.select-dropdown-input-container{
    margin: 10px;
    border: none;
    border-radius: 0;
    position: relative;

    &:after{
        background: $blue;
        content: '';
        width: 0%;
        height: 2px;
        position: absolute;
        bottom: -2px;
        left: 50%;
        transform: translateX(-50%);
        transition: all .5s cubic-bezier(0.4, 0, 0.2, 1);
    }

    &:blur{
        &:after{
            width: 100%;
        }
    }

    input{
        background-color: transparent;
    }
}

.page{
    min-height: 700px;
    height: 100vh;
    
    @media #{$tablet, $mobile}{
        padding-top: 60px;
    }
}


div.ganttview-vtheader-series-name {
    padding: 0 6px;
}

th,
td {
    padding: 10px;
}


label {
    font-weight: 900;
    color:$gray-dark;
    text-transform: uppercase;
    font-size: 12px;
    margin-top: 18px;
    
    
}
input[type="number"], input[type="date"], input[type="email"], input[type="password"], input[type="text"]:not(.input-addon-field), textarea, select{
    background-color: transparent;
    border: none;
    border-radius: 0px;
    border-bottom: 1px solid $gray-light;
    box-shadow: none !important;
    transition: all .5s cubic-bezier(0.4, 0, 0.2, 1);
    
    &:focus{
        border-bottom: 2px solid $blue-light;
    }
}

.table-small {
    font-size: 1em;
}

#main > .page-header, .page > .page-header{
    background-color: #fff;
    width: 100%;
    padding: 0;
    position: fixed;
    bottom: -20px;
    left: 0;
    z-index: 10;
    border-top: 3px solid $gray-lightest;
    box-shadow: $shadow-containers-up;
    
    ul{
        margin: 0;
        padding: 0;
    }
    
    li{
        float: left;
        width: 25%;
        padding: 0;
        margin: 0;
    }
    
    a{
        display: block;
        width: 100%;
        padding: 10px;
        font-size: 10px;
        line-height: 1.2;
        text-align: center;
        text-decoration: none;
        color: $gray;
        position: relative;
        transition: all .5s cubic-bezier(0.4, 0, 0.2, 1);
        
        &:after{
            background: $blue;
            content: '';
            width: 0%;
            height: 3px;
            position: absolute;
            top: -3px;
            left: 50%;
            transform: translateX(-50%);
            transition: all .5s cubic-bezier(0.4, 0, 0.2, 1);
        }
        
        i{
            width: 100%;
            color: $gray;
            font-size: 24px;
            padding-bottom: 1px;
        }
        
        &:hover, &:hover i{
            color: $blue;
        }
        &:hover{
            &:after{
                width: 100%;
            }
        }
        
    }
}

.sidebar-container{
    float: left;
    width: 100vw;
}

.sidebar-content, #modal-content{
    .page-header{
//        background-color: inherit !important;
        width: auto !important;
        min-width: auto !important;
        height: auto !important;
        position: static;
        bottom: auto;
        left: auto;
        border-top: none;
        box-shadow:none;
    }
}
.sidebar-content{
//    background-color: #fff;
    width: calc(100% - 280px);
    padding: 20px 16px;
    
    @media #{$tablet, $mobile}{
        width: calc(100%);
        overflow-x: hidden;
        
        &.active-mobile{
//            width: calc(100% - 280px);
        }
    }
}
.sidebar {
    float: left;
    background-color: $gray-darker;
    width: 280px;
    max-width: 280px;
    min-height: 100vh;
    padding-bottom: 40px;
//    height: 80vh;
    transition: all .5s cubic-bezier(0.4, 0, 0.2, 1);
    
    .sidebar-title{
        h2{
            color: $gray-light;
            padding: 16px 32px 4px;
        }   
    }
    
    ul {
        padding-bottom: 20px;
//        border-bottom: 1px solid #aaa;
        
        &:last-of-type {
            border-bottom: none;
        }
        
        li{
            padding: 0;
            border: none;
            
            &:hover, &.active{
                background: $gray-dark;
                border-left: none;
                padding: 0;
                a{
                    font-weight: 100;
                    color: #fff;
                }
            }
            
            a{
                display: block;
                padding: 8px 32px;
                font-size: 14px;
                color: $gray-light;
                
                
                i{
                    color: $gray-light;
                    margin: 0 10px 0 0;
                }
            }
            &.active, &.active:hover{
                a{
                    color: #fff;
                }
            }
        }
    }
    
    @media #{$tablet, $mobile}{
        height: 100%;
        position: fixed;
        z-index: 100;
        top: 0;
        right: -280px;
        box-shadow: 0 .1rem 1rem rgba(53, 64, 80, .24), 0 .05rem .25rem rgba(53, 64, 80, 1);
        
        &.active-mobile{
            right: 0;
            box-shadow: 0 .1rem 1rem rgba(53, 64, 80, .4), 0 .05rem 50rem rgba(53, 64, 80, 1);
        }
    }
}


.sidebar-collapse i,
.sidebar-collapsed .sidebar {
    background-color: #999;
    border-radius: 24px;
    padding: 5px 10px 5px 8px;
}

.sidebar-collapse i,
.sidebar-collapsed .sidebar i {
    color: #fff;
}

.sidebar-collapse i:hover,
.sidebar-collapsed .sidebar:hover {
    background-color: #ccc;
}

.project-header{
    background-color: $gray-lightest;
    float: left;
    width: 100%;
    color: $gray-dark;
    padding: 0 4px;
    margin: 0;
    box-shadow: $shadow-containers;
    
    .dropdown-component{
        float: left;
        margin: 0;
        .dropdown{
            a{
                display: block;
                padding: 8px 8px;
                text-transform: uppercase;
            }
        }
    }
    .views-switcher-component{
        margin: 0;
        
        .views{
            margin: 0;
            
            li{
                float: left;
                background: none;
                margin: 0;
                padding: 0;
                border: none;
                
                a{
                    display: block;
                    padding: 10px 12px;
                    text-transform: uppercase;
                }
                
                &.active{
                    a, i{
                        color: $red;
                    }
                    a{
                        font-weight: 900;
                        border-bottom: 3px solid $red;
                    }
                }
            }
        }
    }
    .filter-box-component{
        float: right;
        width: 60%;
        padding: 4px 0;
    }
    
    @media #{$tablet, $mobile}{
        margin: 6px 0 0;
        
        .filter-box-component{
            width: 100%;
        }
    }
}

.project-overview-columns{ 
    float: left;
    width: 100%;
    padding: 10px 8px;
    .project-overview-column{
        background-color: #fff;
        box-shadow: $shadow-containers !important;
        border: none;
        border-radius: 4px;
        
        strong{
            font-size: 40px;
        }
        small{
            text-transform: uppercase;
            font-size: 14px;
        }
    }
}

.accordion-section{
    background-color: #fff;
    float: left;
    width: calc(100% - 32px);
    margin: 0 16px 8px;
    padding: 8px 16px;
    box-shadow: $shadow-containers !important;
    border: none;
    border-radius: 4px;
    
    .accordion-title{
        background-image: none;
        
        h3{
            background-color: transparent;
        }
    }
}

#board-container{
    background: $gray-lightest;
    float: left;
    width: 100vw;
    padding: 20px 8px 60px;
//    overflow-x:scroll;
}

.listing {
    border: none;
}

//.fa-play {
//    font-size: 1.2em;
//    background-color: #ddd;
//    border-radius: 100%;
//    width: 25px;
//    height: 28px;
//    padding: 8px 0 0 15px;
//    margin-right: 8px;
//}
//
//.fa-play:hover {
//    background-color: #909090;
//    color: #fff;
//}

.fc-event .fc-content {
    padding: 4px 8px;
}

.form-column select {
    font-size: 1.2em;
    margin: 10px 0 2px 0;
}

.form-column:nth-of-type(2) {
    padding: 10px 25px;
    background-color: $gray-lightest;
}

.form-actions {
    font-size: 1.2em;
}

.page-header ul.dropdown-submenu-open {
    margin: 10px 0 0 -10px;
    padding: 0;
}

.dropdown-submenu-open{
    border: none !important;
    box-shadow: $shadow-containers !important;
    padding: 0;
    
    li {
        padding: 0px;
        margin: 0;
        border: none;
        
        &.no-hover{
            padding: 10px 20px;
            font-size: 14px;
            color: $gray;
            font-weight: 100;
        }
        
        &:nth-child(even) {
        //    background-color: #f7f7f7;
        }
        &:not(.no-hover):hover {
            background-color: transparent;
            a{
                color: $gray-dark;
            }
        }
        &:last-child{
            a, a:hover{
                background-color: transparent;
                color: $red;
                text-transform: uppercase;
                font-weight: 900;
            }
        }
        
        a{
            display: block;
            padding: 12px 20px;
            color: $gray-dark;
            text-decoration: none !important;
            
            &:hover{
                background: $gray-lightest;
                color: $gray-darkest;
            }
        }
        .fa{display: none;}
    }
    
}

#board{
    padding-top: 16px;
    border-collapse: separate;
    border-spacing: 16px 0;
    
    a{
        color: $gray-dark;
    }
    .board-column-header{
        background-color: rgba(255, 255, 255, 1);
        box-shadow: $shadow-containers !important;
        border-radius: 4px;
        padding: 4px 16px 4px 4px;
        border-radius: 6px;
        position: relative;
        z-index: 2;
        border: none;
    }
    .board-add-icon {
        padding: 0;
    }

    .board-add-icon a{
        color: $blue;
        display: block;
        padding: 8px 8px;
        
        i{
            font-size: 16px;
        }
    }

    .board-add-icon a:hover i{
        color: $green;
    }
    .board-column-title{
        float: left;
        padding: 8px 0;   
        font-weight: 900;
        
        a{
            font-size: 16px;
        }
    }
    .board-column-header-task-count{
        background: $red;
        float: left;
        padding: 3px 4px;
        color: rgba(255, 255, 255, 0);
        border-radius: 16px;
        position: absolute;
        top: -8px;
        right: -8px;
        > span{
            color: #fff;
        }
    }
    td[class*='board-column']{
        background-color: rgba(255, 255, 255, 1);
        padding: 10px 16px;
        box-shadow: 0 .5rem .2rem rgba(53, 64, 80, .24), 0 .2rem .25rem rgba(53, 64, 80, .24);
        border-radius: 6px;
        z-index: 1;
        border: none;
    }
    
    .board-rotation-wrapper {
        position: relative;
        padding: 8px 4%;
        margin: 0 -8px 0;
        min-height: 300px;
        overflow: hidden;
        cursor: pointer;
    }
    @media #{$mobile}{
        width: 240vw;
        
        td[class*='board-column']{}   
    }
    
}

.filters {
    border: none;
}

.filters ul.dropdown-submenu-open {
    margin: 6px 0 0 8px;
}

.task-board {
    background: #fff;
    margin-bottom: 12px;
    padding: 6px 8px;
    border-radius: 4px;
    color: $gray;
    font-size: 1em;
//    border-width: 1px !important;
//    border-left-width: 10px !important;
    border-width: 0 !important;
    border-left-width: 10px !important;
    border-radius: 4px;
    box-shadow: $shadow-containers;
    transition: all .5s cubic-bezier(0.4, 0, 0.2, 1);
    
    &:hover{
        padding: 6px 8px 6px 0px;
        border-bottom: none;
        border-right: none;
        border-left-width: 16px !important;
        box-shadow: $shadow-containers-up;
        z-index: 2;
    }
}
.task-board-recent {
}

.task-board-title {
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    color: $gray;
}

.task-show-details {
    border-radius: 10px;
    margin-bottom: 20px;
}

.task-show-details h2 {
    background-color: rgba(0, 0, 0, 0.3);
    padding: 20px;
    border-radius: 8px 8px 0 0;
    color: #fff;
}

.task-show-details ul {
    padding: 20px;
}
.color-picker-square{
    border-width: 2px;
    border-radius: 4px;
}

.table-list{
    padding: 10px 16px 60px;
    
    .table-list-header {
        background-color: transparent;
        border: none;
        line-height: 35px;
        padding: 4px;
    }
    .table-list-row{
        background-color: #fff;
        margin:0 8px 8px;
        padding: 4px 8px;
        border: none;
        border-left-width: 10px !important;
        border-radius: 4px;
        box-shadow: $shadow-containers;
        transition: all .5s cubic-bezier(0.4, 0, 0.2, 1);
        z-index: 1;
        position: relative;
        
        &:hover{
            border-bottom: none;
            border-right: none;
            border-left-width: 20px !important;
            box-shadow: $shadow-containers-up;
            z-index: 2;
        }
        
        .table-list-title{
            padding: 8px 0;   
            font-weight: 900;

            a{
                font-size: 16px;
            }
        }
    }
}

.task-board.color-yellow,
.task-summary-container.color-yellow,
.color-picker-square.color-yellow,
{
    background-color: #fff;    
    border-color: rgb(252, 242, 0)
}
td.color-yellow {
    background-color: rgb(252, 242, 0);
}
.table-list-row.color-yellow {
    border-left: 5px solid rgb(252, 242, 0);
}

.task-board.color-blue,
.task-summary-container.color-blue,
.color-picker-square.color-blue {
    background-color: #fff;
    border-color: rgb(168, 207, 255)
}

td.color-blue {
    background-color: rgb(219, 235, 255)
}

.table-list-row.color-blue {
    border-left: 5px solid rgb(168, 207, 255)
}

.task-board.color-green,
.task-summary-container.color-green,
.color-picker-square.color-green {
    background-color: #fff;
    border-color: rgb(74, 227, 113)
}

td.color-green {
    background-color: rgb(189, 244, 203)
}

.table-list-row.color-green {
    border-left: 5px solid rgb(74, 227, 113)
}

.task-board.color-purple,
.task-summary-container.color-purple,
.color-picker-square.color-purple {
    background-color: #fff;
    border-color: rgb(205, 133, 254)
}

td.color-purple {
    background-color: rgb(223, 176, 255)
}

.table-list-row.color-purple {
    border-left: 5px solid rgb(205, 133, 254)
}

.task-board.color-red,
.task-summary-container.color-red,
.color-picker-square.color-red {
    background-color: #fff;
    border-color: rgb(255, 151, 151)
}

td.color-red {
    background-color: rgb(255, 187, 187)
}

.table-list-row.color-red {
    border-left: 5px solid rgb(255, 151, 151)
}

.task-board.color-orange,
.task-summary-container.color-orange,
.color-picker-square.color-orange {
    background-color: #fff;
    border-color: rgb(255, 172, 98)
}

td.color-orange {
    background-color: rgb(255, 215, 179)
}

.table-list-row.color-orange {
    border-left: 5px solid rgb(255, 172, 98)
}

.task-board.color-grey,
.task-summary-container.color-grey,
.color-picker-square.color-grey {
    background-color: #fff;
    border-color: rgb(204, 204, 204)
}

td.color-grey {
    background-color: rgb(238, 238, 238)
}

.table-list-row.color-grey {
    border-left: 5px solid rgb(204, 204, 204)
}

.task-board.color-brown,
.task-summary-container.color-brown,
.color-picker-square.color-brown {
    background-color: #fff;
    border-color: #4e342e
}

td.color-brown {
    background-color: #d7ccc8
}

.table-list-row.color-brown {
    border-left: 5px solid #4e342e
}

.task-board.color-deep_orange,
.task-summary-container.color-deep_orange,
.color-picker-square.color-deep_orange {
    background-color: #fff;
    border-color: #e64a19
}

td.color-deep_orange {
    background-color: #ffab91
}

.table-list-row.color-deep_orange {
    border-left: 5px solid #e64a19
}

.task-board.color-dark_grey,
.task-summary-container.color-dark_grey,
.color-picker-square.color-dark_grey {
    background-color: #fff;
    border-color: #455a64
}

td.color-dark_grey {
    background-color: #cfd8dc
}

.table-list-row.color-dark_grey {
    border-left: 5px solid #455a64
}

.task-board.color-pink,
.task-summary-container.color-pink,
.color-picker-square.color-pink {
    background-color: #fff;
    border-color: #d81b60
}

td.color-pink {
    background-color: #f48fb1
}

.table-list-row.color-pink {
    border-left: 5px solid #d81b60
}

.task-board.color-teal,
.task-summary-container.color-teal,
.color-picker-square.color-teal {
    background-color: #fff;
    border-color: rgb(13, 173, 180);
}

td.color-teal {
    background-color: rgb(13, 173, 180);
}

.table-list-row.color-teal {
    border-left: 5px solid rgb(13, 173, 180);
}

.task-board.color-cyan,
.task-summary-container.color-cyan,
.color-picker-square.color-cyan {
    background-color: #fff;
    border-color: #00bcd4
}

td.color-cyan {
    background-color: #b2ebf2
}

.table-list-row.color-cyan {
    border-left: 5px solid #00bcd4
}

.task-board.color-lime,
.task-summary-container.color-lime,
.color-picker-square.color-lime {
    background-color: #fff;
    border-color: #afb42b
}

td.color-lime {
    background-color: #e6ee9c
}

.table-list-row.color-lime {
    border-left: 5px solid #afb42b
}

.task-board.color-light_green,
.task-summary-container.color-light_green,
.color-picker-square.color-light_green {
    background-color: #fff;
    border-color: #689f38
}

td.color-light_green {
    background-color: #dcedc8
}

.table-list-row.color-light_green {
    border-left: 5px solid #689f38
}

.task-board.color-amber,
.task-summary-container.color-amber,
.color-picker-square.color-amber {
    background-color: #fff;
    border-color: #ffa000
}

td.color-amber {
    background-color: #ffe082
}

.table-list-row.color-amber {
    border-left: 5px solid #ffa000
}


.ui-datepicker {
	border-width: 0;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	width: 18.5rem;
    padding: 0;
    border: none !important;
    border-radius: 4px !important;

	@media (max-width: 480px){
		width: 17rem;
	}

	&.ui-corner-all {
		border-radius: 0;
	}

	.ui-datepicker-header {
		background: $red;
		padding: 15px 0;
		border-width: 0;
        border-radius: 4px 4px 0 0 ;
	}

	.ui-datepicker-prev,
	.ui-datepicker-next {
		cursor: pointer;
		top: 15px;
        border: none;

		span {
			background: transparent;
			width: 0px;
			height: 0px;
			border-width: 5px 9px;
			border-style: solid;
			border-color: transparent;
			margin-top: 0;
			top: 32%;
		}
        
        &.ui-state-hover{
            background-color: transparent;
            border: none;
        }
	}

	.ui-datepicker-prev span {
		left: 59%;
		border-right-color: #fff;
		border-left-width: 0;
	}

	.ui-datepicker-next span {
		left: 67%;
		border-left-color: #fff;
		border-right-width: 0;
	}

	.ui-datepicker-title {
		text-shadow: none;
        color: #fff;
        font-weight: 100;
        font-size: 16px;

		select {
			border: 0;
			height: 27px;
			width: 45%;
			width: calc(49% - 5px);
			font-size: 12px;
			color: $gray;
			padding-left: 5px;

			&:focus {
				outline: none;
			}
		}

		.ui-datepicker-month {
			margin-right: 5px;
		}

		.ui-datepicker-year {
			margin-left: 5px;
		}
	}

	.ui-datepicker-buttonpane button {
//		@include transition(all 0.15s ease-in-out);
		background: #fff;
		border: 0px;
		font-weight: 600;
		margin: 10px 5px;
		padding: 5px 12px;
		font-size: 16px;
		text-transform: uppercase;
		
		&[data-handler="today"]:hover,
		&[data-handler="today"]:active {
		opacity: 1;
		color: #4f4f4f;
		}
	
		&[data-handler="hide"]:hover,
		&[data-handler="hide"]:active {
			color: $red;
		}
	}
	
	table {
		font-size: 12px;
	}

	th {
        background-color: lighten($gray-lightest, 5%);
		padding: 12px 4px;
        font-weight: 600;
		text-transform: uppercase;
        

		&.ui-datepicker-week-end * {
			color: $red;
		}
	}

	td {
        padding: 10px;
		span,
		a {
			padding: .4em .2em;
			font-size: 12px;
			text-align: center;
		}
        .ui-state-default{
            background-color: #fff;
            border-color: transparent;
        }
	  .ui-state-default.ui-state-hover {
			border-color: transparent;
			text-shadow: none;
		    background: tint($red, 5%);
			font-weight: normal;
			color: inherit;
	  }
    
		.ui-state-highlight {
			border-color: transparent;
            background-color: transparent;
		}
		
		.ui-state-active,
		.ui-state-active.ui-state-highlight,
		.ui-state-active.ui-state-hover  {
			text-shadow: none;
			background: $red;
			border-color: $red;
			color: #fff;
            border-radius: 50%;
		}
		
		&.ui-datepicker-week-end {
			* {
				color: tint($gray, 10%);
			}

			.ui-state-active {
				color: #fff;
			}
		}
	}

	.ui-datepicker-today {
		background-color: $yellow-light;
	}
	.ui-widget-content {
//		border-color: $red;
		
		[type='button'] {
			font-size: 12px;

		}
	}
    .ui-timepicker-div{
        padding: 8px;
    }
}

.ui-datepicker-trigger {
	margin: 10px;
}


.datepicker.sample {
	margin-left: 50px;
}
