
// -------------------------------------------------------------------------- //
//                                                                            //
// VARS                                                                       //
// ^^^^                                                                       //
//                                                                            //
// -------------------------------------------------------------------------- //

$colorTxt:#DBDBDB;
$colorLink:#99CCFF;
$colorLinkActive:#FFFFFF;
$colorLinkWarning:#990000;
$colorLinkWarningActive:#FF0000;
$colorBorder:#555555;
$colorBgElements:#555555;

$fontStack:"Helvetica Neue",Helvetica,Arial,sans-serif;
$fontSize:13px;
$fontSizeSmallScreen:11px;
$fontSizeHeadl:1.3em;
$fontSizeHeadl2:1.6em;
$fontSizeSmall:0.85em;


// Special Vars for the dark-theme
$darkBgColor:#333333;
$darkBgColorHover:#1D1D1D;
$colorTxtDark:#555555;



// -------------------------------------------------------------------------- //
//                                                                            //
// THEME                                                                      //
// ^^^^^                                                                      //
//                                                                            //
// -------------------------------------------------------------------------- //

// Harmonize font-size
@import "inc/harmonize-font-size";

// Remove round edges
@import "inc/remove-round-edges";

// Remove gradients
@import "inc/remove-gradients";

// Improvements from the default-theme
@import "default/improvements";

// Changes for the dark-theme
@import "dark/improvements";
