// Improvements for the default-Theme


// Color -------------------------------------------------------------------- //
// Update the yellow

.task-board.color-yellow, .task-summary-container.color-yellow, .color-picker-square.color-yellow {
	background-color:#FDFDAE !important;
	border-color:#E4C600 !important;
}

td.color-yellow {
	//background-color:#FDFDAE !important;
	//border-color:$colorBorder !important;
}

.alert {
	background-color:#FDFDAE;
	border-color:#E4C600;
	color:#CC9900;
}


// Fonts and Typography ----------------------------------------------------- //
// Links
a {
	color:$colorLink;

	&:hover {
		color:$colorLinkActive;
	}

	&:focus {
		color:$colorLinkActive;
	}
}

// Headlines
h2 {
	font-size:$fontSizeHeadl;
	font-weight: bold;
}
h3 {
	font-size:$fontSizeHeadl;
	font-weight: bold;
}



// Form-Elements ------------------------------------------------------------ //

legend {
	font-weight:bold;
}

input[type="number"],
input[type="date"],
input[type="email"],
input[type="password"],
input[type="text"] {
	padding-left:5px;
	border-color:$colorBorder;

	&:focus {
		box-shadow:none;
	}
}

input[type="text"]:not(.input-addon-field) {
	color:$colorTxt;
}

select {
	padding:5px 3px 5px 3px;
	//margin-top: 10px;
	max-width: 95%;
	width: 200px;
}

textarea {
	&:focus {
		box-shadow:none;
	}
}

.select2-container--default {
	.select2-selection--single {
		min-width:200px;
		border-color:$colorBorder;

		.select2-selection__rendered {
			color:$colorTxt;
		}
	}
	.select2-selection--multiple {
		border-color:$colorBorder;
	}
}

#select-dropdown-menu {
	overflow:auto;
}

table select {
	margin-top:0;
}

.filter-box input[type="text"] {
	padding-left:5px;
}

.form-actions {
	margin-bottom: 20px;
}

.form-column ul {
	margin-top:5px;
}

.form-help {
	margin-top:5px;
	font-size:$fontSizeSmall;
}

.form-required {
	color:$colorLinkWarning;
}



// Buttons ------------------------------------------------------------------ //
.btn {
	padding: 5px 10px 5px 10px;
}

.btn-blue {
	background:$colorLink;
	border:none;

	&:hover,
	&:focus {
		background:$colorLinkActive;
		border:none;
	}
}

.btn-red {
	background:$colorLinkWarning;
	border:none;

	&:hover,
	&:focus {
		background:$colorLinkWarningActive;
		border:none;
	}
}



// Table -------------------------------------------------------------------- //
table {
	border-collapse: separate;
	margin-bottom:30px;
	border-top:1px solid $colorBorder;
	border-right:1px solid $colorBorder;

	th {
		background:$colorBgElements;
	}

	th, td {
		border-top: none;
		border-right:none;
		border-bottom:1px solid $colorBorder;
		border-left:1px solid $colorBorder;
		padding:6px 4px 6px 4px;
	}
}

.table-list-header {
	background:$colorBgElements;
	border-color:$colorBorder;

	.table-list-header-count {
		margin-left:15px;
	}
}
.table-list-row {
	padding:10px 15px 10px 15px;
	border-color:$colorBorder;

	&.color-yellow {
		//border-color:$colorBorder !important;
		border-left:solid 5px #E4C600 !important;
	}

	&:hover {
		border-right-color:$colorBorder;
		border-bottom-color:$colorBorder;
		border-top-color:$colorBorder;
	}

	.table-list-details {
		line-height:22px;
		margin-bottom:5px;
	}
}



// Page- and Project-Header ------------------------------------------------- //
.page-header {
	background:$colorBgElements;
	padding:5px 15px 5px 15px;
	border-top:1px solid $colorBorder;

	&:first-child {
		border-top:none;
	}

	h2 {
		font-size:$fontSizeHeadl;
		border:none;
	}

	ul {
		margin-top:5px;
		margin-bottom:5px;

		.fa {
			color:$colorLinkActive;
		}

		a {
			text-decoration:none;
		}
	}
}

.project-header {
	background:$colorBgElements;
	padding:5px 15px 5px 15px;
	margin-top:0;
	margin-bottom: 20px;

	.input-addon-item {
		background:#FFFFFF;
		border-color:$colorBorder;
	}
}

.sidebar-content {
	.page-header {
		ul {
			margin-top:7px;
			margin-bottom:3px;
		}
	}
}



// Board -------------------------------------------------------------------- //
#board-container {
	overflow-x:inherit;
}


.board-add-icon {

	padding-top:2px;
	line-height:10px;

	a {
		i {
			font-size:1em;
			color: $colorLink;
		}

		&:hover {
			i {
				color: $colorLinkActive;
			}
		}
	}
}

.board-column-header-task-count {
	color:#999999;
	font-size:$fontSizeSmall;
}

.task-board {
	padding:4px;
	margin:2px 2px 6px 2px;
}

div.task-board-recent { // New Cards
	border-width:3px;
}

.task-board-icons,
.task-list-icons {
	font-size:1em;
}

.task-board-category,
.task-tags li {
	padding:2px 3px 2px 3px;
}

.task-tags li {
	border-color:#666666;
	color:#666666;
}

.project-overview-column strong {
	font-size:2em;
}

.project-overview-column {
	border-radius:0;
	min-width:100px;
	margin-right:20px;
}

.activity-event {
	border-bottom: 1px solid $colorBorder;
	padding:8px 0 20px 14px;
}

.activity-title {
	border:none;
}



// Tasks -------------------------------------------------------------------- //
.editor-toolbar {
	border-top-color: $colorBorder;
	border-left-color: $colorBorder;
	border-right-color: $colorBorder;
}

.CodeMirror {
	border-color: $colorBorder;
}


#task-summary h2 {
	font-size:$fontSizeHeadl2;
	color:$colorTxt;
}

.task-show-title h2 {
	font-size:$fontSizeHeadl2;
	color:$colorTxt;
}

.comment-sorting {
	font-size:$fontSizeSmallScreen;
}

.task-summary-column {
	color:$colorTxt;
}

.task-list-tag {
	background:$colorBgElements;
	border-color:$colorBorder;
}

.table-list-category {
	border-color:$colorBorder;
}

.subtask-cell {
	border-color: $colorBorder;

	&:first-child {
		padding-left:0;
	}
}

.task-list-subtasks {
	margin-top:5px;
}

.task-list-subtask {
	&:last-child {
		.subtask-cell {
			border-bottom: 1px dotted $colorBorder;
		}
	}
}


.text-editor-toolbar {
	width: 700px;
	max-width: 98%;
	margin-top:20px;
	margin-bottom:5px;
	padding:6px 4px 6px 4px;

	background:$colorBgElements;
}



// Messages ----------------------------------------------------------------- //
.alert {
	margin-bottom:30px;
}



// Others ------------------------------------------------------------------- //
.textarea-dropdown .active,
.textarea-dropdown li:hover,
.dropdown-submenu-open li:hover:not(.no-hover) {
	background: $colorLink;
}

.accordion-title {
	background:$colorBgElements;
	padding:3px 0 3px 10px;
}

.accordion-title h3 {
	background:none;
}

.views li {
	background:none;
	border:none;
}

.pagination {
	margin-bottom:30px;
}

.activity-content {
	margin-left:65px;
}

#board_selector_chosen {
	width:350px !important;
}


// Login-Page --------------------------------------------------------------- //
#login-top {
	margin-bottom:40px;
}

#login-bottom {
	margin-top:40px;

	ul {
		list-style-type:none;

		li {
			margin-left:0;
		}
	}
}


// Lightbox/modal ----------------------------------------------------------- //

#modal-header {
	margin-top:5px;
	margin-bottom:5px;
	font-size:1.5em;
}

#modal-content {
	padding:0 20px 0 20px;
}


// Documentation ------------------------------------------------------------ //

.documentation {
	img {
		border-color: $colorBorder;
		margin-top: 40px;
		margin-bottom: 20px;
	}

	li {
		line-height:1.6em;
	}

	h1 {
		padding-bottom:5px;
		border-bottom:1px solid $colorBorder;

		margin-top: 40px;
		margin-bottom: 30px;

		&:first-child {
			margin-top: 5px;
		}
	}

	h2 {
		padding-bottom:5px;
		border-color:$colorBorder;

		margin-top: 25px;
		margin-bottom: 10px;
	}

	h3 {
		margin-top: 25px;
		margin-bottom: 10px;
	}
}


// Markdown ----------------------------------------------------------------- //

.markdown {
	h1 {
		margin-top:20px;
		margin-bottom:10px;
		padding-bottom:5px;
		border-bottom:1px solid $colorBorder;
	}

	h2 {
		margin-top:20px;
		margin-bottom:10px;
		padding-bottom:5px;
		border-bottom:1px solid $colorBorder;
	}

	h3 {
		margin-top:20px;
		margin-bottom:10px;
	}

	p {
		margin-bottom:5px;
	}
}
