@font-face {
  font-family: 'libicons';
  src:  url('../fonts/libicons.eot?9jipbz');
  src:  url('../fonts/libicons.eot?9jipbz#iefix') format('embedded-opentype'),
    url('../fonts/libicons.ttf?9jipbz') format('truetype'),
    url('../fonts/libicons.woff?9jipbz') format('woff'),
    url('../fonts/libicons.svg?9jipbz#libicons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="ico-"], [class*=" ico-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'libicons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ico-corn:before {
  content: "\e93d";
}
.ico-doctor-back:before {
  content: "\e93e";
}
.ico-hook:before {
  content: "\e93f";
}
.ico-qr-code:before {
  content: "\e937";
}
.ico-arrow-curve-left:before {
  content: "\e938";
}
.ico-arrow-curve-right:before {
  content: "\e939";
}
.ico-money-bag-back:before {
  content: "\e93a";
}
.ico-money-bag-next:before {
  content: "\e93b";
}
.ico-user-back:before {
  content: "\e93c";
}
.ico-spinner:before {
  content: "\e659";
}
.ico-chat:before {
  content: "\e932";
}
.ico-tools:before {
  content: "\e934";
}
.ico-filter:before {
  content: "\e935";
}
.ico-menu:before {
  content: "\e936";
}
.ico-doc-empty:before {
  content: "\e933";
}
.ico-doc-list:before {
  content: "\e600";
}
.ico-doc-pencil:before {
  content: "\e601";
}
.ico-doc-plus:before {
  content: "\e602";
}
.ico-doc-minus:before {
  content: "\e603";
}
.ico-doc-refresh:before {
  content: "\e604";
}
.ico-doc-magnifier:before {
  content: "\e605";
}
.ico-doc-check:before {
  content: "\e606";
}
.ico-doc-question:before {
  content: "\e607";
}
.ico-doc-alert:before {
  content: "\e608";
}
.ico-doc-certificate:before {
  content: "\e609";
}
.ico-doc-arrow-right:before {
  content: "\e60a";
}
.ico-doc-pdf:before {
  content: "\e60b";
}
.ico-doc-sheet:before {
  content: "\e60c";
}
.ico-doc-zip:before {
  content: "\e60d";
}
.ico-doc-presentation:before {
  content: "\e60e";
}
.ico-doc-code:before {
  content: "\e60f";
}
.ico-doc-braces:before {
  content: "\e610";
}
.ico-docs:before {
  content: "\e611";
}
.ico-doc-copy:before {
  content: "\e612";
}
.ico-docs-layer:before {
  content: "\e613";
}
.ico-docs-drawer:before {
  content: "\e615";
}
.ico-docs-archive:before {
  content: "\e616";
}
.ico-folder:before {
  content: "\e617";
}
.ico-folder-open:before {
  content: "\e618";
}
.ico-br-gov-mps:before {
  content: "\e619";
}
.ico-lion-face:before {
  content: "\e61a";
}
.ico-building:before {
  content: "\e61b";
}
.ico-house:before {
  content: "\e61c";
}
.ico-building-greek:before {
  content: "\e61d";
}
.ico-bag:before {
  content: "\e61e";
}
.ico-index-card:before {
  content: "\e61f";
}
.ico-serving-man:before {
  content: "\e620";
}
.ico-gauge:before {
  content: "\e621";
}
.ico-graph-line:before {
  content: "\e622";
}
.ico-graph-pizza:before {
  content: "\e623";
}
.ico-tractor:before {
  content: "\e624";
}
.ico-truck:before {
  content: "\e625";
}
.ico-airplane:before {
  content: "\e626";
}
.ico-ship:before {
  content: "\e627";
}
.ico-phone:before {
  content: "\e628";
}
.ico-smartphone:before {
  content: "\e629";
}
.ico-tablet:before {
  content: "\e62a";
}
.ico-monitor:before {
  content: "\e62b";
}
.ico-keyboard:before {
  content: "\e62c";
}
.ico-terminal:before {
  content: "\e62d";
}
.ico-plug:before {
  content: "\e62e";
}
.ico-hammer:before {
  content: "\e62f";
}
.ico-world:before {
  content: "\e630";
}
.ico-megaphone:before {
  content: "\e631";
}
.ico-bell:before {
  content: "\e632";
}
.ico-bell-plus:before {
  content: "\e633";
}
.ico-bell-minus:before {
  content: "\e634";
}
.ico-user:before {
  content: "\e635";
}
.ico-user-c:before {
  content: "\e636";
}
.ico-user-plus:before {
  content: "\e637";
}
.ico-user-minus:before {
  content: "\e638";
}
.ico-users:before {
  content: "\e639";
}
.ico-user-profile:before {
  content: "\e63a";
}
.ico-wheelchair:before {
  content: "\e63b";
}
.ico-man:before {
  content: "\e63c";
}
.ico-woman:before {
  content: "\e63d";
}
.ico-plus:before {
  content: "\e63e";
}
.ico-minus:before {
  content: "\e63f";
}
.ico-cancel:before {
  content: "\e640";
}
.ico-confirm:before {
  content: "\e641";
}
.ico-pencil:before {
  content: "\e642";
}
.ico-trash-can:before {
  content: "\e643";
}
.ico-stamp:before {
  content: "\e644";
}
.ico-seal:before {
  content: "\e645";
}
.ico-floppy-disk:before {
  content: "\e646";
}
.ico-ray:before {
  content: "\e647";
}
.ico-print:before {
  content: "\e648";
}
.ico-alert-c:before {
  content: "\e649";
}
.ico-alert-t:before {
  content: "\e64a";
}
.ico-alert:before {
  content: "\e64b";
}
.ico-info-c:before {
  content: "\e64c";
}
.ico-info:before {
  content: "\e64d";
}
.ico-help-c:before {
  content: "\e64e";
}
.ico-bookmark:before {
  content: "\e64f";
}
.ico-bookmarks:before {
  content: "\e650";
}
.ico-flag:before {
  content: "\e651";
}
.ico-calendar:before {
  content: "\e652";
}
.ico-calendar-empty:before {
  content: "\e653";
}
.ico-uncheck:before {
  content: "\e654";
}
.ico-check-mid:before {
  content: "\e655";
}
.ico-check:before {
  content: "\e656";
}
.ico-unradio:before {
  content: "\e657";
}
.ico-radio:before {
  content: "\e658";
}
.ico-clock:before {
  content: "\e65a";
}
.ico-timemachine:before {
  content: "\e65b";
}
.ico-counterclockwise:before {
  content: "\e65c";
}
.ico-hourglass-start:before {
  content: "\e65d";
}
.ico-hourglass-end:before {
  content: "\e65e";
}
.ico-hourglass:before {
  content: "\e65f";
}
.ico-link:before {
  content: "\e660";
}
.ico-unlink:before {
  content: "\e661";
}
.ico-cloud:before {
  content: "\e662";
}
.ico-cloud-down:before {
  content: "\e663";
}
.ico-cloud-up:before {
  content: "\e664";
}
.ico-clip:before {
  content: "\e665";
}
.ico-key:before {
  content: "\e666";
}
.ico-lock:before {
  content: "\e667";
}
.ico-unlock:before {
  content: "\e668";
}
.ico-door-in:before {
  content: "\e669";
}
.ico-door-out:before {
  content: "\e66a";
}
.ico-funnel:before {
  content: "\e66b";
}
.ico-gear:before {
  content: "\e66c";
}
.ico-magnifier:before {
  content: "\e66d";
}
.ico-binoculars:before {
  content: "\e66e";
}
.ico-eye:before {
  content: "\e66f";
}
.ico-eye-no:before {
  content: "\e670";
}
.ico-money-c:before {
  content: "\e671";
}
.ico-money-bag:before {
  content: "\e672";
}
.ico-money:before {
  content: "\e673";
}
.ico-more-horizontal:before {
  content: "\e674";
}
.ico-more-vertical:before {
  content: "\e675";
}
.ico-shield:before {
  content: "\e676";
}
.ico-traffic-light:before {
  content: "\e677";
}
.ico-brightness:before {
  content: "\e678";
}
.ico-contrast:before {
  content: "\e679";
}
.ico-black-white-c:before {
  content: "\e67a";
}
.ico-camera:before {
  content: "\e67b";
}
.ico-image:before {
  content: "\e67c";
}
.ico-video:before {
  content: "\e67d";
}
.ico-mail:before {
  content: "\e67e";
}
.ico-sigma:before {
  content: "\e67f";
}
.ico-letter:before {
  content: "\e680";
}
.ico-bug:before {
  content: "\e682";
}
.ico-arrow-up:before {
  content: "\e687";
}
.ico-arrow-down:before {
  content: "\e688";
}
.ico-arrow-right:before {
  content: "\e689";
}
.ico-arrow-left:before {
  content: "\e68a";
}
.ico-transfer:before {
  content: "\e68f";
}
.ico-stethoscope:before {
  content: "\e690";
}
.ico-clipboard-list:before {
  content: "\e691";
}
.ico-clipboard-pulse:before {
  content: "\e692";
}
.ico-bookshelf:before {
  content: "\e693";
}
.ico-clipboard-check:before {
  content: "\e694";
}
.ico-bag-medical:before {
  content: "\e695";
}
.ico-band-aid:before {
  content: "\e696";
}
.ico-star-of-life:before {
  content: "\e697";
}
.ico-radioactive-c:before {
  content: "\e698";
}
.ico-user-doctor:before {
  content: "\e699";
}
.ico-user-magnifier:before {
  content: "\e69a";
}
.ico-user-tie:before {
  content: "\e69b";
}
.ico-thermometer:before {
  content: "\e69c";
}
.ico-triangle-right2:before {
  content: "\e69d";
}
.ico-player-back:before {
  content: "\e69e";
}
.ico-player-last:before {
  content: "\e69f";
}
.ico-badge-militar:before {
  content: "\e6a2";
}
.ico-jail:before {
  content: "\e6a3";
}
.ico-thumb-down:before {
  content: "\e6a4";
}
.ico-thumb-up:before {
  content: "\e6a5";
}
.ico-doc-thumb-down:before {
  content: "\e900";
}
.ico-doc-thumb-up:before {
  content: "\e901";
}
.ico-arrow-triple-left:before {
  content: "\e902";
}
.ico-school-cap:before {
  content: "\e903";
}
.ico-doc-info:before {
  content: "\e904";
}
.ico-doc-check-ci:before {
  content: "\e905";
}
.ico-clipboard-man:before {
  content: "\e906";
}
.ico-doc-refresh-29:before {
  content: "\e907";
}
.ico-pin:before {
  content: "\e908";
}
.ico-route:before {
  content: "\e909";
}
.ico-seal-plus:before {
  content: "\e90a";
}
.ico-seal-minus:before {
  content: "\e90b";
}
.ico-seals:before {
  content: "\e90c";
}
.ico-handshake:before {
  content: "\e90d";
}
.ico-money-pencil:before {
  content: "\e90e";
}
.ico-download:before {
  content: "\e90f";
}
.ico-upload:before {
  content: "\e910";
}
.ico-check-circle:before {
  content: "\e911";
}
.ico-cancel-circle:before {
  content: "\e912";
}
.ico-building-arrow:before {
  content: "\e913";
}
.ico-doc-download:before {
  content: "\e914";
}
.ico-doc-book:before {
  content: "\e915";
}
.ico-hammer-base:before {
  content: "\e916";
}
.ico-hammer-base-plus:before {
  content: "\e917";
}
.ico-hammer-base-minus:before {
  content: "\e918";
}
.ico-pj-check:before {
  content: "\e919";
}
.ico-process-check:before {
  content: "\e91a";
}
.ico-gear-check:before {
  content: "\e91a";
}
.ico-trash-can-recover:before {
  content: "\e91b";
}
.ico-link-plus:before {
  content: "\e91c";
}
.ico-link-minus:before {
  content: "\e91d";
}
.ico-card:before {
  content: "\e91e";
}
.ico-user-indian:before {
  content: "\e91f";
}
.ico-carret-up:before {
  content: "\e920";
}
.ico-triangle-up:before {
  content: "\e920";
}
.ico-carret-down:before {
  content: "\e921";
}
.ico-triangle-down:before {
  content: "\e921";
}
.ico-carret-right:before {
  content: "\e922";
}
.ico-triangle-right:before {
  content: "\e922";
}
.ico-carret-left:before {
  content: "\e923";
}
.ico-triangle-left:before {
  content: "\e923";
}
.ico-carret-right-double:before {
  content: "\e924";
}
.ico-carret-left-double:before {
  content: "\e925";
}
.ico-clipboard-search:before {
  content: "\e926";
}
.ico-expand:before {
  content: "\e927";
}
.ico-hourglass-plus:before {
  content: "\e928";
}
.ico-hourglass-minus:before {
  content: "\e929";
}
.ico-letter-small:before {
  content: "\e92a";
}
.ico-pacifier:before {
  content: "\e92b";
}
.ico-shield-user:before {
  content: "\e92c";
}
.ico-star:before {
  content: "\e92d";
}
.ico-star-empty:before {
  content: "\e92e";
}
.ico-ticket:before {
  content: "\e92f";
}
.ico-tickets:before {
  content: "\e930";
}
.ico-database:before {
  content: "\e931";
}

