// Background to dark-color

// Init-Things -------------------------------------------------------------- //
html, body {
	background-color:$darkBgColor;
	color:$colorTxt;
}

// Dialogs
#popover-content {
	background-color:$darkBgColor;
}


// Harmonize color ---------------------------------------------------------- //
*::-moz-placeholder,
h1, h2, h3,
th a,
.action-menu,
.views a,
.page-header h2 a,
.dashboard-table-link,
.dropdown-menu-link-text,
.dropdown-menu-link-icon,
.activity-title,
.activity-description {
	color:$colorTxt;
}

.menu-inline li.active a,
.views li.active a {
	color:$colorLinkActive;
}

.board-add-icon a {
	color:$colorLink;
}

.sidebar {
	border-right-color:$colorBorder;

	a:hover {
		color:#FFFFFF;
	}

	li {
		border-bottom-color:$colorBorder;
	}

	li.active a {
		color:#FFFFFF;
	}
}

.project-overview-column strong {
	color:#FFFFFF;
}

.listing {
	background:$darkBgColor;
	border-color:$colorBorder;
	color:$colorTxt;
}

.activity-event:hover {
	background:$darkBgColorHover;
}

.logo a:hover {
	color:$colorTxt;
}
.logo span {
	color:$colorTxt;
}

.editor-toolbar {
	background:$colorBgElements;

	a {
		color:$colorTxt !important;
	}
}

.table-stripped tr:nth-child(2n+1) {
	background:$darkBgColorHover;
}

.task-show-title h2 {
	color:$colorTxtDark;
}


// Calendar ----------------------------------------------------------------- //
.fc-unthemed .fc-today {
	background:$darkBgColorHover;
}


// Task summary ------------------------------------------------------------- //
.task-summary-column {
	color:$colorTxtDark;
}



// Board -------------------------------------------------------------------- //
.task-board {
	color:$colorTxtDark;
}
.task-board a:hover {
	color:#000000;
}


// Gantt -------------------------------------------------------------------- //
div.ganttview-vtheader {
	background:none;
}

div.ganttview {
	border-color:$colorBorder;
}

div.ganttview-vtheader-series-name {
	border-top-color:$colorBorder;

	a:hover {
		color:$colorLinkActive;
	}
}

div.ganttview-hzheader-month {
	border-right-color:$colorBorder;
}

div.ganttview-hzheader-day,
div.ganttview-grid-row-cell {
	border-right-color:$colorBorder;
	border-top-color:$colorBorder;
}

div.ganttview-vtheader-series-name a {
	color:$colorTxt
}

div.ganttview-grid-row-cell.ganttview-weekend {
	background:$darkBgColorHover;
}

div.ganttview-block-not-defined {
	background-color:#FFFFFF;
	border-color:#FFFFFF;
}
