// Harmonize the font-size



body {
	font-family:$fontStack;
	font-size:$fontSize;

	@media only screen and (max-width: 1024px) {
		font-size:$fontSizeSmallScreen;
	}
}



// Default-Font-Size -------------------------------------------------------- //
.menu-inline li,
.page-header li,
.sidebar,
.textarea-dropdown li,
.dropdown-submenu-open li,
table,
.table-small,
.table-list,
.table-list-row .table-list-icons,
.views,
header ul,
.fc-event,
.activity-description,
.documentation,
.project-overview-columns,
.project-overview-column span,
.form-help,
.btn,
.buttons-header,
.task-board-category,
.task-board-title,
.task-board,
.activity-date,
.task-summary-column,
.task-summary-buttons,
.subtasks-table,
div.ganttview-vtheader-series-name,
.tooltip .fa-info-circle,
legend {
	font-size: 1em;
}



// Harmonize jquery-ui ------------------------------------------------------ //
.ui-widget {
	font-family:$fontStack;
	font-size:1em;
}

div.ui-tooltip,
.ui-datepicker table,
#ui-datepicker-div {
	font-size:1em;
}



// Small-Font-Size ---------------------------------------------------------- //
.dashboard-project-stats span,
.comment-date,
.assign-me,
.comment-actions {
	font-size: $fontSizeSmall;
}



// Harmonize Form-Elements -------------------------------------------------- //
input[type="number"],
input[type="date"],
input[type="email"],
input[type="password"],
input[type="text"] {
	font-family:$fontStack;
	font-size:$fontSize;
}

input[type="file"] {
	font-family:$fontStack;
	font-size:$fontSize;
}

select {
	font-family:$fontStack;
	font-size:$fontSize;
}

.filter-box input[type="text"] {
	font-size:$fontSize;
}



// Harmonize Chosen --------------------------------------------------------- //
.chosen-container {
	font-size: $fontSize;
}
