// Improvements for Printing



@media print {



	// Links -------------------------------------------------------------------- //
	a,
	th a {
		color:#000000;
		text-decoration:none;
	}



	// Table -------------------------------------------------------------------- //
	.table-fixed {

		white-space:normal;

		td {
			//overflow:inherit;
			text-overflow:clip;
			white-space:normal;
		}
	}



	// Header ------------------------------------------------------------------- //
	header nav h1 .logo {
		display:block; // Get a break after the KB-Logo
	}


	// Page-Header -------------------------------------------------------------- //
	.page-header {
		background:none;
		padding:0 0 10px 0;

		h2 {
			margin:0;
		}
	}


	// Board -------------------------------------------------------------------- //
	/*header nav h1 .tooltip[title]:after {
		display:block;
		font-size:$fontSize;
		font-weight:normal;
		background-color:inherit;
		content:attr(title);
		margin-top:10px;
	}*/ // This don't do the job, because it's not rendering the html-elements

	header nav h1 .tooltip i {
		display:none;
	}

	#board-container {

		overflow-x:visible;

		.board-column-header {
			padding-left:7px;
		}

	}


	// Ticket ------------------------------------------------------------------- //
	#task-view {
		.sidebar {
			h2:first-child {
				margin-top:50px;
				margin-bottom:5px;
				font-size:1.6em;
				font-weight:normal;
			}
		}
	}

	#task-summary {
		.task-summary-container {
			padding-right:80px;
		}
	}

	.accordion-title {
		background:none;
		padding:0;
		margin-top:40px;

		h3 {
			margin:0;
		}
	}

	#comments {
		.avatar {
			float:left;
			width:48px;

			.avatar-letter {
				color: #fff;
				text-align: center;
			}
		}

		.avatar-48 {
			.avatar-letter {
				font-size: 25px;
				line-height: 48px;
				width: 48px;
			}
			img, div {
				border-radius: 30px;
			}
		}
	}


}
